<nav>
  <div class="container navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Articles', root_path, class:"nav-link active"%>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto"> 
      <%# should float to the right %>
        <li class="nav-item float-end">
          <%= link_to 'Add Article', new_article_path, class:"btn btn-primary"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
